.FoodItem {
  position: relative;
  display: flex;
  border: 3px solid rgb(135, 207, 25);
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  width: 85%;
  height: 12%;
  padding: 5px;

  margin: 10px auto 10px auto;
  border-radius: 10px;
}

.FoodItem .food {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addIcon {
  position: absolute;
  top: 50%;
  right: -6%;
  transform: translate(-50%, -50%);
}
