.Register {
  position: relative;
  width: 99vw;
  height: 99vh;
  background: #fff;
  color: grey;
  border: 1px solid black;
  border-radius: 50px;
}

.Register .description {
  margin-top: 10px;
}

.Register form {
  padding: 10px;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  width: 65%;
  height: 40%;
  overflow-y: auto;
}

.Register .Signup {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: inherit;
}

.Register .Signup a {
  color: blue;
}

.Register .gender {
  border-bottom: 1px solid #41b22a;

  padding: 10px 0px 10px 0px;
  display: inline-grid;
  grid-auto-flow: dense;
  align-items: center;
}

.Register .gender label {
  grid-column: 1;
  margin-top: 5px;
}

.Register .gender input {
  margin-top: 5px;
}
